
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        404 - not found.<br />
        This app was moved to another server. Sorry for the inconvenience.
    </div>
</body>
</html>
