body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.childrenInline * {
    display: inline;
}*/

#console {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2rem;
}

#console * {
    display: block;
}

.serverMessage {
    color: red;
}

.chatMessage {
    color: cyan;
}

.app-part-skeleton{
    display: none;
}

.openExeForm {
    display: block;
    width: auto;
    /*border: 2px solid black;*/
    /*padding: 2rem 0;*/
    margin: 1rem 0;
}

.exeSlots {
    /*border: 2px solid black;*/
    background-color: #e0e0e0;
    margin: 0rem 0 1rem 0;
    padding: 1rem 1rem;
}