<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cpprestsdk.v120.windesktop.msvcstl.dyn.rt-dyn" version="2.5.0" targetFramework="native" />
  <package id="cpprestsdk.v140.windesktop.msvcstl.dyn.rt-dyn" version="2.6.0" targetFramework="native" />
  <package id="Microsoft.AspNet.SignalR.Client.Cpp.v140.WinDesktop" version="1.0.0-alpha1" targetFramework="native" />
</packages>